.task-card {
  background-color: hsl(var(--hue), 50%, 50%);
  border-radius: 1vmin;
  position: absolute;
  aspect-ratio: 5 / 7;
  width: 25vmin;
  margin: 0 auto;
  transition: all 800ms cubic-bezier(0.09, 0.72, 0.33, 0.84);
  cursor: pointer;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  box-shadow: -1px 1px 20px rgb(0, 0, 0);
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .task-card {
    width: 37.5vmin;
  }
}

/* necessary for buttons to follow the stagger and size of card
 */
.task-card-container-copy {
  border-radius: 1vmin;
  position: absolute;
  aspect-ratio: 5 / 7;
  width: 25vmin;
  margin: 0 auto;
  padding-top: 1em;
  transition: all 800ms cubic-bezier(0.09, 0.72, 0.33, 0.84);
}

@media screen and (max-width: 500px) {
  .task-card-container-copy {
    width: 37.5vmin;
  }
}

/* if task is completed */
.completed {
  background-color: rgb(169, 169, 169);
  text-decoration: line-through;
}

.task-text {
  width: 70%;
  word-wrap: break-word;
  margin: 1em 1em;
  overflow: scroll;
  font-size: 2vmin;
}

.task-text-spread {
  width: 80%;
  word-wrap: break-word;
  margin: 0em 1em 1em 1em;
  overflow: scroll;
  font-size: 1vmin;
}

.selected {
  background-color: hsl(var(--hue), 50%, 35%);
  z-index: 2;
}

/* Task spread styling */

.task-card-size-spread {
  width: 15.25vmin;
  top: -40%;
}

@media screen and (max-width: 500px) {
  .task-card-size-spread {
    width: 19vmin;
    top: -72%;
    left: -14%;
  }
}

.each-card:nth-last-child(2) .spread-task {
  transform: translate(0%, -9%) rotate(0deg) !important;
}

.each-card:nth-last-child(3) .spread-task {
  transform: translate(-60%, 2%) rotate(-27.69deg) !important;
}

.each-card:nth-last-child(4) .spread-task {
  transform: translate(-99%, 27%) rotate(-55.38deg) !important;
}

.each-card:nth-last-child(5) .spread-task {
  transform: translate(-121%, 65%) rotate(-83.07deg) !important;
}

.each-card:nth-last-child(6) .spread-task {
  transform: translate(-114%, 109%) rotate(-110.76deg) !important;
}

.each-card:nth-last-child(7) .spread-task {
  transform: translate(-79%, 145%) rotate(-138.45deg) !important;
}

.each-card:nth-last-child(8) .spread-task {
  transform: translate(-28%, 163%) rotate(-166.14deg) !important;
}

.each-card:nth-last-child(9) .spread-task {
  transform: translate(28%, 163%) rotate(-193.83deg) !important;
}

.each-card:nth-last-child(10) .spread-task {
  transform: translate(79%, 145%) rotate(-221.52deg) !important;
}

.each-card:nth-last-child(11) .spread-task {
  transform: translate(114%, 109%) rotate(-249.21deg) !important;
}

.each-card:nth-last-child(12) .spread-task {
  transform: translate(121%, 65%) rotate(-276.9deg) !important;
}

.each-card:nth-last-child(13) .spread-task {
  transform: translate(99%, 27%) rotate(-304.59deg) !important;
}

.each-card:nth-last-child(14) .spread-task {
  transform: translate(60%, 2%) rotate(-332.28deg) !important;
}

/* this was used as a guide to set the stagger correctly on spread  */
/* .center-line {
  width: 5px;
  height: 23px;
  background-color: yellow;
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 5;
} */

/* card suit styling */

.card-suit-top {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 4%;
  left: 3%;
  color: black;
  margin: 0;
  padding: 0;
}

.card-suit-bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80%;
  right: 3%;
  color: black;
  rotate: 180deg;
  margin: 0;
  padding: 0;
}

.card-suit-icon {
  font-size: 2vmin;
  margin: 0;
  padding: 0;
}

.card-suit-value {
  margin: 0;
  padding: 0;
  font-size: 3vmin;
  font-weight: normal;
}

/* in spread mode */
/* .card-suit-top-spread {
  position: fixed;
  top: 4%;
  left: 3%;
  color: black;
  margin: 0;
  padding: 0;
}

.card-suit-bottom-spread {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 79%;
  right: 3%;
  color: black;
  rotate: 180deg;
  margin: 0;
  padding: 0;
} */

.card-suit-icon-spread {
  font-size: 1.22vmin;
  margin: 0;
  padding: 0;
}

.card-suit-value-spread {
  margin: 0;
  padding: 0;
  font-size: 1.83vmin;
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .card-suit-icon-spread {
    font-size: 1.83vmin;
  }
  .card-suit-value-spread {
    font-size: 2.75vmin;
  }
  .card-suit-icon {
    font-size: 3vmin;
  }
  .card-suit-value {
    font-size: 4.5vmin;
  }
}
