.task-card {
  background-color: rgb(87, 112, 205);
  border-radius: 1vmin;
  position: absolute;
  transition: transform 800ms cubic-bezier(0.09, 0.72, 0.33, 0.84);
  cursor: pointer;
  padding-top: 2em;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.task-text {
}

/* task card staggered stacking */

/* .task-card:nth-child(1) {
  background-color: rgba(255, 223, 22, 0.5);
     transform: translateX(-5%) rotate(-1deg); 
}

.task-card:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.5);
  /  transform: rotate(2deg); 
}

.task-card:nth-child(3) {
  background-color: rgba(0, 255, 0, 0.5);
  /  transform: translateX(-6%) rotate(-3deg); 
}

.task-card:nth-child(4) {
  background-color: rgba(0, 0, 255, 0.5);
    transform: translate(10%, 3%) rotate(5deg); 
}
 */
