.fa {
  font-size: 7.5vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: top 800ms cubic-bezier(0.075, 0.82, 0.165, 1),
    left 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -2;
  cursor: pointer;
}

/* Icons when expanded with hover effects */

.fa-edit-expanded {
  top: -10%;
  left: 120%;
}

.fa-edit-expanded:hover {
  color: rgb(0, 212, 235);
}

.fa-complete-expanded {
  top: 110%;
  left: 120%;
}

.fa-complete-expanded:hover {
  color: rgb(5, 172, 5);
}

.fa-delete-expanded {
  top: 110%;
  left: -20%;
}

.fa-delete-expanded:hover {
  color: rgb(255, 33, 33);
}

.fa-expand-expanded {
  top: -8%;
  left: -15%;
}

.fa-expand-expanded:hover {
  color: rgb(242, 255, 0);
}

/* styling when tasks are spread out */
.spread-spread-btn {
  top: 0%;
  left: -140%;
}

.spread-spread-btn:hover {
  color: rgb(242, 255, 0);
}

.spread-edit-btn {
  top: 0%;
  left: 240%;
}
.spread-edit-btn:hover {
  color: rgb(0, 212, 235);
}

.spread-delete-btn {
  top: 250%;
  left: -140%;
}
.spread-delete-btn:hover {
  color: rgb(255, 33, 33);
}

.spread-complete-btn {
  top: 250%;
  left: 240%;
}
.spread-complete-btn:hover {
  color: rgb(5, 172, 5);
}

/* when a user clicks on a different card in spread - to signal the button target has changed */

.btn-shake {
  animation: btn-shake 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes btn-shake {
  0% {
    opacity: 50%;
  }
  5% {
    opacity: 60%;
  }
  10% {
    opacity: 70%;
  }
  15% {
    opacity: 80%;
  }
  20% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}
