.date {
  text-align: center;
  letter-spacing: 0.1em;
  /*   font-size: 2rem; */
  /*   margin-bottom: 26vmin; */
}

/* @media screen and (max-width: 500px) {
  .date {
    font-size: 1.5rem;
  }
} */
