* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}

body {
  /*  margin: 5em; */
  background-color: rgba(32, 32, 32, 0.9);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: white;
}

/* When task form is open */
.background-blur {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.test {
  display: none;
}

/* Tasks container */

/* .center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
 */
