.task-container,
.task-card {
  aspect-ratio: 5 / 7;
  width: 30vmin;
  margin: 0 auto;
  /*  margin: 2.5em auto; */
}

/* .task-container {
  position: relative;
  z-index: 5;
} */
/* hover effects with task cards */
