.task-container {
  aspect-ratio: 5 / 7;
  width: 25vmin;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.task-container-spread {
  width: 15vmin !important;
}

/* .task-container {
  position: relative;
  z-index: 5;
} */
/* hover effects with task cards */
