.logo {
  color: white;
  font-weight: 600;
  text-align: center;
  /*   font-size: 5rem; */
  margin-bottom: 1rem;
  margin-top: 75px;
}

/* @media screen and (max-width: 500px) {
  .logo {
    font-size: 16.5vmin;
    margin-top: 7vmin;
  }
} */
