.default-plus {
  font-size: 13vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.added-plus {
  font-size: 13vmin;
  position: absolute;
  top: 130%;
  /* margin: 0.3em; */
  cursor: pointer;
}

.form-plus {
  display: none;
}

/*  this was used as a guide to set the stagger of the cards on spread
 */
.added-plus2 {
  width: 127px;
  height: 127px;
  border: 2px solid green;
  position: absolute;
  top: 130%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 5;
}

/* .plus:hover {
  color: gray;
} */
