.default-plus {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.added-plus {
  font-size: 5rem;
  display: inline-block;
  margin: 0.3em;
  cursor: pointer;
}

.form-plus {
  display: none;
}

/* .plus:hover {
  color: rgb(142, 140, 140);
} */
