.add-task-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 30vmin;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  color: black;
  z-index: 5;
}

.add-task-input {
  width: 100%;
  margin-bottom: 1em;
  resize: none;
  height: auto;
}

.form-labels {
  float: left;
  margin-bottom: 0.3em;
}

.add-task-btn {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 0.5em;
}

.modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.modal-close {
  display: flex;
  justify-content: flex-end;
}

.modal-close button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
