.color-area {
  position: fixed;
  bottom: -2%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.close-color-picker {
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #363636;
  padding: 0.3em 0.6em;
  font-weight: bold;
  background-color: hsl(var(--hue), 50%, 50%);
  cursor: pointer;
}

.close-color-picker:hover {
  color: white;
}

.color-icon {
  color: black;
  font-size: 1rem;
}

@media screen and (min-width: 450px) {
  .color-icon {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 668px) {
  .color-icon {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 960px) {
  .color-icon {
    font-size: 2rem;
  }
}

.color-btn {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em;
  padding: 0.5em;
}

.range-picker {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 0.2em solid rgb(255, 255, 255, 0.2);
  border-radius: 100vmax;
  background: linear-gradient(
    to right,
    hsl(0, 50%, 50%),
    hsl(25, 50%, 50%),
    hsl(50, 50%, 50%),
    hsl(75, 50%, 50%),
    hsl(100, 50%, 50%),
    hsl(125, 50%, 50%),
    hsl(150, 50%, 50%),
    hsl(175, 50%, 50%),
    hsl(200, 50%, 50%),
    hsl(225, 50%, 50%),
    hsl(250, 50%, 50%),
    hsl(275, 50%, 50%),
    hsl(300, 50%, 50%),
    hsl(325, 50%, 50%),
    hsl(350, 50%, 50%)
  );
  width: 45%;
  height: 1.75vmin;
  box-shadow: 0 0 0.8em;
  cursor: pointer;
}
